* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(255, 255, 255);
}

.form {
  border-radius: 45px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.input {
  min-width: 20rem;
  border: none;
  outline: none;
  margin: 24px;
  font-size: 16px;
}

.button {
  height: 45px;
  padding: 0 27px;
  width: max-content;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 5px 10px -3px #0070f3;
  background-color: #0070f3;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.button:hover {
  box-shadow: 0px 3px 12px #0070f3;
}

.button {
  margin-right: 8px;
}

.name {
  font-size: 20px;
  font-weight: 500;
  margin-top: 50px;
}

span {
  color: #0070f3;
}

a {
  text-decoration: none;
}

.name-div {
  display: flex;
  margin-left: 150px;
}

.head {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}

.head-div {
  display: flex;
  margin-left: 150px;
}

.link {
  color: #0070f3;
  font-size: 17px;
}
.link-div {
  margin-left: 110px;
  margin-top: 45px;
  display: flex;
}
.copyBtn {
  color: #0070f3;
  margin-left: 30px;
  cursor: pointer;
}
.text-copied {
  margin-left: 200px;
  padding-top: 30px;
}

@media only screen and (max-width: 550px) {
  .form {
    width: 350px;
  }
  .input {
    min-width: 5rem;
    margin-left: 18px;
  }
  .button {
    width: 75px;
    font-size: 9px;
    height: 40px;
    padding: 0 11px;
    margin-right: 8px;
  }
  .name-div {
    margin-left: 80px;
  }
  .head-div {
    margin-left: 80px;
  }
  .link {
    font-size: 15px;
  }
  .link-div {
    margin-left: 45px;
  }
  .text-copied {
    margin-left: 140px;
  }
}
